body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffe6e6; /* Color de fondo rosa claro */
}

.container {
    text-align: center;
    background-color: #ffffff; /* Color de fondo blanco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #ff66b2; /* Borde rosa */
}

h1 {
    margin-bottom: 20px;
    color: #ff66b2; /* Color del texto rosa */
    font-size: 2em;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #666666; /* Color del texto gris oscuro */
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ff66b2; /* Borde rosa */
    border-radius: 4px;
    background-color: #fff0f5; /* Fondo rosa muy claro */
    font-size: 16px;
    color: #333333; /* Color del texto gris oscuro */
}

button {
    padding: 10px 20px;
    background-color: #ff66b2; /* Color de fondo rosa */
    color: white; /* Color del texto blanco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff3399; /* Color de fondo rosa más oscuro al pasar el ratón */
}

#mensaje-bienvenida, #mensaje-juego {
    margin-top: 20px;
    font-size: 18px;
    color: #ff66b2; /* Color del texto rosa */
}

.botones-juego {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

.boton {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.2;
    animation: buttonIdle 2s infinite;
}

#rojo {
    background-color: #ff4c4c; /* Rojo */
}

#azul {
    background-color: #4c4cff; /* Azul */
}

#verde {
    background-color: #4cff4c; /* Verde */
}

#amarillo {
        background-color: #ffff4c; /* Amarillo */
}

@keyframes prendido_secuencia {
    0%{opacity: 1; transform: scale(1);}
    50%{opacity: 1; transform: scale(1.2);}
    100%{opacity: 1; transform: scale(1);}
}

@keyframes prendido_click {
    0%{opacity: 1;}
    50%{opacity: 0.6;}
    100%{opacity: 1;}
}

@keyframes boton_inactico {
    0%,100%{transform: scale(1);}
    50%{transform: scale(1.05);}
}

@keyframes perdio {
    0%{transform: translateX(0);}
    20%{transform: translateX(-20px);}
    40%{transform: translateX(20px);}
    60%{transform: translateX(-15px);}
    80%{transform: translateX(15px);}
    100%{transform: translateX(0);}
}

.activo_secuencia{
    animation: prendido_secuencia 0.6s;
}

.activo_click{
    animation: prendido_click 0.3s;
}

body.error{
    animation: perdio 0.5s;
}